---
layout: page
---
{{ content }}


<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div id="vcomments"></div>

<script>
    var valine = new Valine();
    new Valine({
        el: '#vcomments',
        appId: 'XjaxD4LRm8fr6lYsmUth22yO-gzGzoHsz',
        appKey: '8pUfi5Av7RAOOKPjFV6wrl3x',
        placeholder: "在这里评论吧！"
    })
</script>
<!--{% if site.comments.enable %}-->
<!--<script src="{{ site.valine.autoloader }}"></script>-->
<!--{% endif %}-->
